body{
    font-family: "標楷體";
}

.box {
   
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    background: rgba(255, 255, 255,0.8);
    margin-top: 20px;
    margin-left: 200px ;
    margin-right: 200px;
    margin-bottom: 20px;
    height: 2900px;
}

.nav{
    display: inline;
    cursor: pointer;
    font-size: 35px;
    padding: 10px;    
}
.nav a{
    font-family:"標楷體";
    background-color: rgb(226,156,69);
    border-radius: 10px;
    padding: 0.5%;
    border-style:solid;
    border-width: 1px;
}
.nav a:hover{
    background-color: rgb(211,177,125);
}
.nav_experience {
    margin-right: 50px;

}
.nav_interest{
    margin-right: 50px;

}
.nav_goal{
    margin-right: 50px;

}
.nav_wish{
    margin-right: 50px;

}
.nav_life{
    
}

footer {
    font-size: 25px;
    padding:10px;
    background-color:#ff4500;
    margin-top: 135px;
}

.totop_style {
    width: 85%;
}
.gototop {
    position:fixed;
    left:92.5%;
    bottom:35px;
    width: 10%;
    cursor: pointer;
}

.title{
    font-size: 50px;
    margin-top: 50px;
    color:orange;
    text-shadow: 5px 5px 1px gray;
    font-weight: bold; 
}

hr {
    height:1px;
    border:none;
    border-top:1px solid #555555;
    width:100%;
}

.d1 {
    font-size: 25px;
    padding-left: 60px;
}

a {
    text-decoration:none;
    color: black;
}

#frame {/*----------圖片輪播相框容器----------*/
    position:absolute; /*--絕對定位，方便子元素的定位*/
    width: 600px;
    height: 400px;
    overflow: hidden;/*--相框作用，只顯示一個圖片---*/
    border-radius:5px;   
}
#dis {/*--絕對定位方便li圖片簡介的自動分佈定位---*/
    position: absolute;
    left: -40px;
    top: 30px;
    opacity: 0.5;
}
#dis li {
    display: inline-block;
    width: 200px;
    height: 25px;
    margin: 0 200px;
    float: left;
    text-align: center;
    color: #fff;
    border-radius: 10px;
    background: #000;
    font-size:20px;
}
#photos img {
    float: left;
    width:600px;
    height:400px;
}
#photos {/*---設定總的圖片寬度--通過位移來達到輪播效果----*/
    position: absolute;z-index:9px;
    width: calc(600px * 5);/*---修改圖片數量的話需要修改下面的動畫引數*/
}
.play{
    animation: ma 15s ease-out infinite alternate;/**/
}
@keyframes ma {/*---每圖片切換有兩個階段：位移切換和靜置。中間的效果可以任意定製----*/
      0%,20% {    margin-left: 0px;     }
     25%,40% {    margin-left: -600px;  }
     45%,60% {    margin-left: -1200px; }
     65%,80% {    margin-left: -1800px; }
    85%,100% {    margin-left: -2400px; }
}
.num{
    position:absolute;z-index:10;
    display:inline-block;
    right:10px;top:350px;
    border-radius:100%;
    background:#f00;
    width:25px;height:25px;
    line-height:25px;
    cursor:pointer;
    color:#fff;
    text-align:center;
    opacity:0.8;
}
.num:hover{background:#00f;}
.num:hover,#photos:hover{animation-play-state:paused;}
.num:nth-child(2){margin-right:30px}
.num:nth-child(3){margin-right:60px}
.num:nth-child(4){margin-right:90px}
.num:nth-child(5){margin-right:120px}
#a1:hover ~ #photos{animation: ma1 .5s ease-out forwards;}
#a2:hover ~ #photos{animation: ma2 .5s ease-out forwards;}
#a3:hover ~ #photos{animation: ma3 .5s ease-out forwards;}
#a4:hover ~ #photos{animation: ma4 .5s ease-out forwards;}
#a5:hover ~ #photos {animation: ma5 .5s ease-out forwards;}
@keyframes ma1 {0%{margin-left:-2400px;}100%{margin-left:-0px;} }
@keyframes ma2 {0%{margin-left:-2400px;}100%{margin-left:-600px;}   }
@keyframes ma3 {100%{margin-left:-1200px;}   }
@keyframes ma4 {100%{margin-left:-1800px;}   }
@keyframes ma5 {100%{margin-left:-2400px;}  }

section {
    padding-top: 100px;
    padding-left: 270px;
}

article {
    padding-top: 450px;
}

.s1{
    width:150px;
    cursor: pointer;
    padding-right:80px;
}

.button{
  width:300px;
  text-align: left;
  color:#fff;
  font-size:25px;
}
.button:hover .hover{
  display:block;
}
.hover{
  display:none;
  background-color:#ffb2b2;
}
.s{
    width:900px;
    padding-right: 50px;
    padding-left: 50px;
}

.i1{
    width:700px;
    margin-left: 50px;
    margin-right: 50px;
}
.button1{
  width:150px;
  text-align: left;
  color:#fff;
  font-size:25px;
}
.button1:hover .hover{
  display:block;
}
.c1 {
    font-size: 25px; 
    line-height:25px;
    font-family:"標楷體";
}

.ic1{
    height:50px;
    cursor: pointer;
}
.ic2{
    height:70px;
    cursor: pointer;

}
.ic3{
    height:50px;
    cursor: pointer;

}

#master { 
    position: absolute; width: 100px; top: 80px; left: -600px; z-index:2; visibility: visible;
} 
#menu   { 
    position: absolute; width: 18px; top: 150px; left: 600px; z-index: 6; visibility: visible;
} 
#screen     { 
    position: absolute; width: 600px; height: 30px; top: 76px; left: 0px; z-index: 5; visibility: visible; background: #fcf; 
} 
#screenlinks  { 
    position: absolute; width: 588px; top: 81px; left: 5px; background: #ffc; border: 1px solid #77f; margin: 0px; padding: 2px 0 0; z-index:5; visibility:visible;
} 
#screenlinks dd {
    margin: 0; padding: 0 0 2px 5px; 
} 

.m1{
    height:150px; 
} 
.m{
    position: fixed;
}

.img_box1{
    width:350px;
    height:250px;
    overflow: hidden;
}
.img1{
    width:80%;
    transition: all 0.6s;
    padding-top:30px; 
    cursor: pointer;
}
.img1:hover{
    transform: scale(1.2);
}
.img_box2{
    width:350px;
    height:400px;
    overflow: hidden;
}
.img2{
    width:80%;
    transition: all 0.6s;
    padding-top:30px; 
    cursor: pointer;
}
.img2:hover{
    transform: scale(1.2);
}
.img_box3{
    width:600px;
    height:600px;
    overflow: hidden;
}
.img3{
    width:100%;
    transition: all 0.6s;
    padding-top:30px; 
    cursor: pointer;
}
.img3:hover{
    transform: scale(1.2);
}
