body {
      margin:0;
      padding:0;      
      background: #000 url('../image/background.png') center center fixed no-repeat;
      -moz-background-size: cover;
      background-size: cover;            
}
#totop {
    margin-top: 50px;
    font-size: 50px;
    color:blue;
    font-family: 標楷體;
    text-shadow: 3px 3px 1px gray;

}
.totop_style {
    width: 85%;
}
.gototop {
    position:fixed;
    left:92.5%;
    bottom:35px;
    width: 10%;
    cursor: pointer;
}


.box {
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    background: rgba(255, 255, 255,0.5);
}
.box:hover {
    transform: scale(1.1);
}

.introduce {
    margin-top: 50px;
    margin-left: 200px ;
    margin-right: 200px;
    margin-bottom: 20px;
    height: 500px;
}


footer {
    font-size: 25px;
    padding:10px;
    background:url('../image/footer.png');
    margin-top: 100px;
}

.ic{
    margin-top:15px;
    margin-right:30px;
    height:50px;
    cursor: pointer;
}

#master { 
    position: absolute; width: 100px; top: 340px; left: -400px; z-index:2; visibility: visible;
} 
#menu   { 
    position: absolute; width: 18px; top: 55px; left: 390px; z-index: 6; visibility: visible;
} 
#screen     { 
    position: absolute; width: 400px; height: 30px; top: 76px; left: 0px; z-index: 5; visibility: visible; background:#ADD8E6; 
} 
#screenlinks  { 
    position: absolute; width: 388px; top: 81px; left: 5px; background: #B0C4DE; border: 1px solid #B0C4DE; margin: 0px; padding: 2px 0 0; z-index:5; visibility:visible;
} 
#screenlinks dd {
    margin: 0; padding: 0 0 2px 5px; 
} 

.m1{
    height:220px; 
} 
.m{
    position: fixed;
}
.d1{
    font-size: 20px; 
    line-height:30px;
    font-family:"微軟正黑體";
}